body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 50px;
  height: 450px;
  margin: 0;
}

h1{
  color: #66BFBF;
  font-size: 280%;
  font-weight: bolder;
  margin: 50px auto 50px auto;

}

.home{
  position: absolute;
  top: 15px;
  left: 10%;
  width: 5%;
  height: auto;
}

nav{
  margin: 0;
  padding: 20px;
  background-color: #E4F9F5;
  border-radius: 8px;
  height: 50px;

}

nav a{
  text-decoration: none;
  margin: 3%;
  position: relative;
  left: auto;
  color: #66BFBF;
  font-weight: bold;
}

nav a:hover{
  border-bottom: 3px solid #4e9191;
  color: #4e9191;
}

.main-pic{
  width: 80%;
  display: block;
  margin: auto;
  position: absolute;
  bottom: 1px;
  left: 10%;
}

.middle-container{
  margin: 0;
}

.inner{
  margin: 100px auto 150px auto;
  text-align: left;
  line-height: 1.7;
  width: 60%;
}

.bottom{
  background-color: #E4F9F5;
  padding: 20px;
}

.insta{
  width: 3%;
}

.top-pic{
  width: 40%;
  float: left;
  position: relative;
  margin-right: 30px;
}


.bottom-pic{
  width: 40%;
  float: right;
  position: relative;
  margin-left: 30px;
}

hr{
  border: 10px dotted;
  border-top: none;
  width: 5%;
  color: #66BFBF;
}

.btn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  border: solid #12b5ad 2px;
  text-decoration: none;
}

.btn:hover {
  background: #4e9191;
  text-decoration: none;
}

.topcontain-heading{
  font-size: 0.8rem;
}
